@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --white: #fff;
  --codeAskGreen: #002828;
  --hrShade: #6c757d;
  --eyeSlash: #212529;
  --textSize: 16px;
}

/* THE LEFT SIDE OF THE LOGIN PAGE (HERO SECTION) */
.left-col {
  position: relative;
  background-color: var(--codeAskGreen);
  min-height: 100vh;
  color: var(--white);
  text-align: center;
}

.left-col .left-appendage {
  position: absolute;
  bottom: 0;
  left: 0;
}

.left-col .hero-text {
  margin-bottom: 50px;
  margin-top: 80px;
}
.left-col .login-hero {
  height: 450px;
}

/* MAIN BODY OF THE LOGIN PAGE */
.login-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

.right-col {
  position: relative;
  padding: 0 100px;
  /* overflow-x: hidden; */
  max-width: 100%;
  min-height: 100vh;
}

.right-col .right-logo {
  display: none;
}

.right-col .right-appendage {
  position: absolute;
  right: 0;
}
.right-col .wrap {
  transform: translateY(40%);
  position: relative;
}

.right-col .login-text {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--codeAskGreen);
  margin: 20px auto;
  /* border: #002828 1px solid; */
}

.right-col .login-text h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.right-col .login-text h3 {
  font-size: var(--textSize);
  font-weight: 400;
}

#message {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 7px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* THE LOGIN FORM */
form {
  position: relative;
  top: 100px;
  width: 360px;
  margin: 0 auto;
  min-height: 300px;
}

form label {
  font-size: var(--textSize);
  font-weight: 400;
}
.input-wrap {
  position: relative;
  margin-bottom: 0;
  height: 38px;
}

form input {
  width: 360px;
  height: 38px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 12px 40px 12px 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--codeAskGreen);
}
.fa-exclamation-circle {
  display: none;
  position: absolute;
  right: 15px;
  top: 19px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #DC3545;
  background-color: #DC3545;
}
.fa-check {
  display: none;
  position: absolute;
  right: 15px;
  top: 19px;
  color: #198754;
  
}

#error-msg {
  border-radius: 4px;
  color: #DC3545;
  display: none;
  text-align: left;
}

form input::placeholder {
  font-family: "Roboto";
  font-size: var(--textSize);
}

.pwd-icon {
  position: absolute;
  top: 128px;
  left: 325px;
  cursor: pointer;
  color: var(--eyeSlash);
}

form .password {
  margin-bottom: 0;
}

form .login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 360px;
}

form .checkbox {
  height: 16px;
  width: 16px;
}

form .remember-me {
  font-size: var(--textSize);
  font-weight: 400;
  align-self: center;
  margin-top: 5px;
  color: var(--codeAskGreen);
}

form a {
  text-align: end;
  text-decoration: underline;
  color: var(--codeAskGreen);
  font-size: var(--textSize);
}

.cta-sign-in {
  display: block;
  width: 360px;
  padding: 12px;
  background-color: var(--codeAskGreen);
  color: var(--white);
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: var(--textSize);
  font-weight: 300;
}

hr {
  width: 360px;
  margin: 20px auto;
  color: var(--hrShade);
}

.cta {
  margin-top: 15px;
  display: block;
  width: 360px;
  padding: 7px 4px;
  outline: 1px solid var(--codeAskGreen);
  color: var(--codeAskGreen);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: var(--textSize);
}

button .fab {
  margin-right: 7px;
  font-size: 1.7rem;
}

form p {
  text-align: center;
  color: var(--codeAskGreen);
  width: 360px;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin {
  background-color: #4285f4;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* SMALL MOBILE SCREENS */
@media (max-width: 400px) {
  .wrap {
    width: 291px;
    margin: 0 auto;
  }

  .login-body .login-text {
    margin-top: -100px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .login-text h3 {
    font-size: var(--textSize);
    font-weight: 400;
    width: 330px;
    margin: auto;
  }

  form {
    margin: 0 auto;
    max-width: 350px;
  }

  form input {
    max-width: 291px;
  }

  form p {
    width: 291px;
  }
  hr {
    width: 300px;
  }
}

/* WIDE MOBILE SCREENS */
@media (max-width: 650px) {
  .login-body {
    display: grid;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
    padding: 0 0px 50px 0px;
  }

  .left-col {
    display: none;
  }

  .right-col .right-appendage {
    position: absolute;
    right: 0;
    top: 0;
  }

  .right-col {
    padding: 20px 70px;
    min-height: 90vh;
  }

  .right-col .right-logo {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-100px);
    top: 50px;
    display: block;
  }

  .login-body .login-text {
    margin-top: -100px;
    bottom: 20px;
    width: 375px;
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    top: 130px;
  }
  hr {
    width: 291px;
  }
}

/* TABLET SCREENS */
@media (max-width: 900px) {
  .login-body {
    min-height: 60vh;
  }

  .left-col .login-hero {
    width: 400px;
    margin-top: 50px;
  }

  .right-col .login-text {
    width: 350px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    width: 300px;
  }

  form input,
  .cta-sign-in,
  .cta,
  .login-options {
    max-width: 300px;
  }

  hr {
    width: 291px;
  }

  form p {
    width: 300px;
  }

  .left-col .hero-text {
    margin-top: 110px;
  }

  .right-col {
    padding: 20px 30px;
  }

  .right-col .right-appendage {
    top: 0;
  }
}
