body {
background-color: #e5e5e5;
}
/* HEADER */
header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 height: 80px;
 top: 0;
 right: 0;
 left: 114px;
 background-color: #fff;
 position: fixed;
 z-index: 1;
}

header .search {
 position: relative;
}

header input {
 padding: 10px 10px 10px 30px;
 width: 640px;
 border: 0.5px solid #CED4DA;
}

.search-icon {
 position: absolute;
 left: 10px;
 top: 12px;
}

.notification {
 display: flex;
 align-items: center;
 position: relative;
}

.notification .avatar {
 width: 40px;
 height: 40px;
 border-radius: 50%;
}

.notification .status {
 position: absolute;
 right: 0;
 top: 0;
}
/* SIDEBAR */
.left-col {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background-color: #002828;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
 height: 100vh;
 padding: 20px 0;
 position: fixed;
 left: 0;
 top: 0;
 bottom: 0;
 z-index: 10;
 width: 114px;
}

.left-col:hover {
 width: 190px;
 align-items: start;
 padding-left: 20px;
 padding-right: 20px;
 animation: smooth 0.5s ease-in-out;
}

.left-col .upper-icons {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 min-height: 200px;
}

.left-col .upper-icons .codeAsk-logo {
 position: relative;
 display: flex;
 align-items: center;
}

.left-col .upper-icons .codeAsk-logo h4 {
 color: #C7D9D9;
 margin-left: 10px;
 display: none;
}

.left-col .upper-icons a .outer-logo {
 width: 56px;
 height: 56px;
}

.left-col .upper-icons a .inner-logo {
 position: absolute;
 top: 15px;
 left: 9px;
 width: 39px;
 height: 27px;
}

.left-col .upper-icons a .icon {
 display: flex;
 align-items: center;
 color: #C7D9D9;
 text-decoration: none;
}

.left-col .lower-icon a {
 display: flex;
}

.left-col .lower-icon span {
 margin-left: 10px;
 display: none;
}

.left-col a {
 text-decoration: none;
 color: #C7D9D9;
}

.left-col .upper-icons .icon span {
 margin-left: 10px;
 display: none;
}

.left-col .upper-icons .icon .number {
 background-color: #C7D9D9;
 color: #002828;
 padding: 1px 3px;
 border-radius: 2px;
 font-size: 10px;
}

.left-col img {
 width: 16px;
 height: 16px;
}

.question-page {
 position: relative;
 background-color: #fff;
 padding: 30px 20px;
 margin-top: 95px;
 width: 59%;
 margin-left: 120px;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
 animation: shift 0.5s ease-out;
 height: 100vh;
}
/* THE RIGHT SIDE OF THE ANSWER PAGE */

.right-side {
 background-color: transparent;
 width: 30%;
 right: 10px;
 top: 105px;
 position: fixed;
 bottom: 10px;
}

.right-side .btn {
 color: #fff;
 background-color: #002828;
 border-radius: 4px;
 padding: 10px 20px;
}

.right-side a {
 text-decoration: none;
}

.right-side .top-weekly {
 width: 100%;
 padding: 24px 16px;
 background-color: #fff;
 margin-bottom: 10px;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.top-weekly h2 {
 font-size: 24px;
 font-weight: 300;
 margin-bottom: 15px;
 color: #000;
}

.top-weekly img {
 margin-right: 15px;
 height: 22px;
 width: 22px;
 margin-top: 4px;
 margin-left: 4px;
}

.top-weekly .hot-topics {
 display: flex;
 margin-bottom: 15px;
}

.top-weekly .hot-topics p {
 font-size: 12px;
 font-weight: 400;
 line-height: 150%;
 color: #6C757D;
}

.trending-tags {
 background-color: #fff;
 width: 100%;
 padding: 24px 16px;
 margin-bottom: 10px;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

.trending-tags h2 {
 font-size: 24px;
 font-weight: 300;
 margin-bottom: 15px;
 color: #000;
}

.trending-tags ul {
 color: #002828;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 width: 300px;
 margin-left: -30px;
 margin-top: 20px;
}

.trending-tags ul li {
 font-size: 14px;
 font-weight: 400;
 border-radius: 4px;
 background-color: #C7D9D9;
 padding: 1px 5px;
 margin: 10px 4px 7px 0;
}

@keyframes smooth {
 from {
  width: 114px;
 }

 to {
  width: 190px;
 }
}
@keyframes shift {
 from {
  margin-left: 120px;
  width: 59%;
 }

 to {
  margin-left: calc(120px + 76px);
  width: calc(59% - 76px);
 }
}

.question-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    gap: 340px;
    /* position: absolute;
    width: 858px;
    height: 48px;
    left: 264px;
    top: 110px; */
}

.question-header a{
    font-size: 28px;
    font-weight: 300;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.question-header a:hover{
    text-decoration: underline;
}

.question-header button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 160px;
    height: 48px;
    background: #002828;
    border: 1px solid #002828;
    border-radius: 4.8px;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}

.question-top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 16px;
    gap: 197px;
    border-bottom: 1px solid #f2eee8;
}

.question-top-navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 310px;
    height: 40px;
}

.question-top-navbar ul li{
    list-style: none;
}

.question-top-navbar ul li a{
    width: 89px;
    height: 24px;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #002828;
    text-decoration: none;
}

.question-top-navbar ul li a.active{
    background: #e6eaea;
    width: 86px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 16px;
    gap: 4px;
}

.questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 952px;
    height: 110px;
    border-bottom: 1px solid #f2efe8;
}

.question-box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 952px;
    height: 110px;
    border-bottom: 1px solid #f2eee8;
}

.question-box img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    isolation: isolate;
    width: 64px;
    height: 64px;
    border-radius: 999px;
}

.question-content{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px 0 0;
    gap: 16px;
    width: 637px;
    height: 63px;
    border-right: 0.5px solid #ced4da; */
}

.question-statement{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 621px;
    height: 24px;
}

.question-statement p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #050f17;
}

.question-box-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .question-box-tags span {
    background-color: #ebebeb;
    padding: 2px;
   }

.question-box-tags ul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 163px;
    height: 23px;
}

.question-box-tags ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    /* width: 42px; */
    height: 23px;
    background: #c7d9d9;
    border: 1px soild rgba(219, 144, 0, 0.15);
    border-radius: 4px;
}

.question-box-tags p{
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;
    color: #000000;
}

.question-box-aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 16px 16px 0;
    gap: 12px;
}

