* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --codeaskblue: #002828;
  --white: #ffffff;
  --black: #212529;
  --grey: #6c757d;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}

/* SIGNUP INTRO */
.cyclic-design1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

main .resetps-image {
  background-color: var(--codeaskblue);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main .resetps-image-brief {
  margin-top: 20%;
}

main .resetps-image .resetps-image-brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main .resetps-image h3 {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 10px 50px 10px;
  white-space: wrap;
  text-align: center;
}

main .resetps-image .tabletphone-image {
  /* object-fit: fill; */
  /* width: 80%; */
  height: 450px;
  margin-bottom: 10px;
}

#error-msg {
  color: #ffffff;
  padding: 7px 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

/* SIGNUP FORM */
.resetps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cyclic-design2 {
  position: fixed;
  right: 0;
  top: 0;
}

main .resetpsform-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10%; */
  justify-content: center;
}

main .resetpsform-wrapper .codeaskform-logo-wrapper {
  display: none;
}

.resetpsform-wrapper .resetps-intro {
  width: 45%;
}

.resetpsform-wrapper .resetps-intro h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: var(--black);
  padding-bottom: 12px;
  text-align: center;
  white-space: nowrap;
}

.resetpsform-wrapper .resetps-intro p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  padding-bottom: 15px;
  text-align: center;
  padding-bottom: 60px;
}

.resetpsform-wrapper .resetps-form {
  width: 60%;
}

main .resetpsform-wrapper .resetps-form label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  margin-bottom: 8px;
  margin-top: 25px;
}

main .resetpsform-wrapper .resetps-form .newpassword-warning {
  margin-bottom: 24px;
  color: #DC3545;
}

#newpassword-warning {
  display: none;
}
#repnewpassword-warning {
  /* display: none; */
  color: #DC3545;
}


  main .resetpsform-wrapper .resetps-form label.newpassword-warning{
    margin-bottom: 24px;
    color: var(--grey);
    font-size: 14px;
  }

  main .resetpsform-wrapper .resetps-form .repnewpassword-warning{
    margin-bottom: 24px;
    color: var(--grey);
    font-size: 14px;


/* INPUT BOX CSS */
.input-wrap {
  position: relative;
  margin-bottom: 0;
  height: 38px;
}
main .resetpsform-wrapper .resetps-input {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  padding: 8px 12px;
  margin-bottom: 4px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.fa-exclamation-circle {
  display: none;
  position: absolute;
  right: 15px;
  top: 9px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #DC3545;
  background-color: #DC3545;
}

.fa-check {
  display: none;
  position: absolute;
  right: 15px;
  top: 9px;
  color: #198754;

}

/* FOCUS ON INPUT BOX */
main .resetpsform-wrapper .resetps-input:focus {
  outline: none;
  border: 1px solid var(--codeaskblue);
}

/* HORIZONTAL BAR  */

  .hr{
    color: var(--grey);
    margin-bottom: 18px;
    height: 0.5px;
  }


/* ALL SIGNUP BUTTON */
main .resetpsform-wrapper .resetps-btn {
  display: block;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 16px;
  margin-top: 25px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
}

/* GET STARTED BUTTON */
main .resetpsform-wrapper .resetps-btn.get {
  color: var(--white);
  background-color: var(--codeaskblue);
  border: 1px solid var(--codeaskblue);
}

main .resetpsform-wrapper .resetps-form .resetps-brief {
  text-align: center;
  white-space: nowrap;
}

main .resetpsform-wrapper .resetps-form .resetps-brief span a {
  color: var(--codeaskblue);
  text-decoration: underline;
  font-size: 16px;
}

/* VERY LARGE SCREEN ABOVE 1200PX */
@media only screen and (min-width: 1200px) {
  main .resetps-image .tabletphone-image {
    object-fit: fill;
    width: 75%;
    height: auto;
  }
}

@media only screen and (min-width: 1300px) {
  main .resetps-image .tabletphone-image {
    object-fit: fill;
    width: 78%;
    height: auto;
  }
}

@media only screen and (min-width: 1500px) {
  main .resetps-image .tabletphone-image {
    object-fit: fill;
    width: 80%;
    height: auto;
  }
}

/* FROM DESKTOP TO TABLET */
@media only screen and (max-width: 1020px) {
  .resetpsform-wrapper .resetps-intro {
    width: 60%;
  }

  .resetpsform-wrapper .resetps-form {
    width: 60%;
  }
}

/* FROM TABLET TO MOBILE */
@media only screen and (max-width: 940px) {
  .resetpsform-wrapper .resetps-intro {
    width: 60%;
  }

  .resetpsform-wrapper .resetps-form {
    width: 60%;
  }

  main .resetpsform-wrapper .codeaskform-logo-wrapper {
    display: block;
    margin-bottom: 7%;
  }
}

@media only screen and (max-width: 940px) {
  main .resetps-image {
    display: none;
  }

  main .resetpsform-wrapper {
    width: 100vw;
  }

  .resetpsform-wrapper .resetps-intro h3 {
    font-size: 23px;
    line-height: 23px;
  }
}

/* @media only screen and (max-width: 390px) {
  main .resetpsform-wrapper .resetps-form .resetps-brief span{
  display: block;
    white-space: nowrap; 
    
  }
} */
