* {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  :root {
    --codeaskblue: #002828;
    --codeaskcream: #FAF0E6;

    --white: #ffffff;
    --black:#212529;
    --grey2:#B2B5B7;;
  }

/* HEADER CSS */

body{
    position: relative;
    min-height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--codeaskcream);
    padding: 25px 100px;

    position: fixed;
    width: 100vw;
    z-index: 5;
    
}

 nav div ul{
    list-style-type: none;
    color: var(--grey2);
    display: flex;
    flex-direction: row;
    gap: 32px;
} 

 nav div ul li a {
    text-decoration: none;
    color: var(--grey2);
}


.selected{
    color: var(--black);
}

/* HEADER BUTTONS */
nav .header-button .login{
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid var(--codeaskblue);
    color: var(--codeaskblue);
    background-color: var(--white);

    text-decoration: none;
    padding: 6px 12px;
    margin-right: 16px;
}

nav .header-button .create{
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid var(--codeaskblue);
    color: var(--white);
    background-color: var(--codeaskblue);

    text-decoration: none;
    padding: 6px 12px;
}

 /* MEDIA QUERY FROM DESKTOP TO TABLET FOR HEADER */
 @media only screen and (max-width: 940px) {
    nav{
        padding: 9px 18px;
    }
    nav .footer-image{
        width: 109px;
        height: 40px;
    }

    nav  .nav-text{
        display: none;
    }

    nav .header-button{
        display: none;
    }
 }

 .mobile-nav{
    display: none; 
}

/* ////////////////////////////////////////////////// */

/* MEDIA QUERY FROM DESKTOP TO TABLET FOR MOBILE NAV */
 @media only screen and (max-width: 940px) {
     /* MOBILE NAV  */
 .mobile-nav-menu{
    display: none; 
}



/* ///////////////////////////////////////////// */
.mobile-nav-menu .menu{
    padding-top: 62px;
    background-color: var(--codeaskcream);
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;  /*figma file was 80px*/
    
}


.mobile-nav-menu ul{
    list-style-type: none;
    color: var(--grey2);
    display: flex;
    flex-direction: row;
    gap: 8px;

    display: flex;
    flex-direction: column;
} 

.mobile-nav-menu ul li:not(:last-child) { 
    padding-bottom: 8px;
    /* border-bottom: 1px solid var(--grey2); */
 } 

.mobile-nav-menu ul li a {
    text-decoration: none;
    color: var(--grey2);
}



.mobile-nav-menu ul li .selected{
    color: var(--black);
}


    .mobile-nav{
        display: block;
        transition: .25s ease-in-out;
    }
    
    .mobile-nav div{
        border-bottom: 2px solid var(--codeaskblue);
        margin-bottom: 6px;
        width: 22px;  
    }

      
    .login-mobile{
        font-weight: 400;
        size: 16px;
        line-height: 24px;
        border-radius: 4px;
        border: 1px solid var(--codeaskblue);
        color: var(--codeaskblue);
        background-color: var(--white);

        text-decoration: none;
        padding: 6px 12px;
        /* margin: 0px 16px; */
        text-align: center;
        width: 100%;
        margin-bottom: 8px;
    }
    
    .create-mobile{
        font-weight: 400;
        size: 16px;
        line-height: 24px;
        border-radius: 4px;
        border: 1px solid var(--codeaskblue);
        color: var(--white);
        background-color: var(--codeaskblue);

        text-decoration: none;
        padding: 6px 12px;
        text-align: center;
        width: 100%;
    
    }







    /* .mobile-nav .start .open {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        
    }
    
    .mobile-nav .mid .open {
        opacity: 0;  
    }
    
    
    .mobile-nav .end .open {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);  
    } */
 }



/* FOOTER CSS */
footer {
    background-color: var(--codeaskblue);
    padding: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-top: 583px;
    /* padding-bottom: ; */

}


footer .footer-wrapper .item1{
    grid-area: item1;
}

footer .item2{
    grid-area: item2;
}

footer .footer-wrapper .item3{
    grid-area: item3;
}

footer .footer-wrapper .item4{
    grid-area: item4;
}

footer .footer-wrapper .item5{
    grid-area: item5;
}

footer .footer-wrapper{
      display: grid;
      grid-template-areas: "item1 item2 item3 item4 item5" ;
  }

  footer .footer-wrapper .footer-head{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--grey2);
    padding-bottom: 28px;
    text-transform: capitalize;

}

footer .footer-wrapper ul{
    list-style-type: none;
    color: var(--grey2);
} 

footer .footer-wrapper ul li{
    padding-bottom: 20px;
}

footer .footer-wrapper ul li a {
    text-decoration: none;
    color: var(--grey2);
}

  footer .hr{
      border-bottom: 1px solid var(--grey2);
   
  }

  /* NEWSLETTER SECTION */

  .newsletter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .newsletter .newsletter-brief{
    margin: 40px 0px;
  }

  .newsletter .newsletter-brief h4{
      font-weight: 700;
      font-size: 16px;
      color: var(--grey2);
      padding-bottom: 20px;

}

.newsletter .newsletter-brief p{
    font-weight: 400;
    font-size: 16px;
    color: var(--grey2);
}


.subscribe-email{
        border-radius: 4px;
        border: 2px solid var(--white);
}  

.subscribe-email input{
    padding: 6px 12px;
    outline: 1px solid var(--white);
    border: 2px solid var(--white);
    width: 200px;
    
    border-radius: 0px 4px 4px 0px;

}
    


.subscribe-email label{
    font-weight: 400;
    font-size: 16px;
    background-color: var(--codeaskblue);
    color: var(--white);
    padding: 6px 12px;
    margin: 1px;

}


  footer .right-reserved{
        color: var(--grey2);
        margin-top: 40px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
  }

  /* MEDIA QUERY FROM DESKTOP TO TABLET FOR FOOTER */
  @media only screen and (max-width: 940px) {

    footer { 
        padding: 40px 40px;
    }

    footer .footer-wrapper{
        display: grid;
        grid-template-areas: "item1 item1"
                             "item2 item3" 
                             "item4 item5" ;
    } 

    footer .footer-wrapper ul{
       padding-left: 0px;
    } 

    footer .footer-wrapper div{
        margin-top: 70px;
    }

    footer .footer-wrapper .item1{
        margin-top: 30px;
    }


    .newsletter{   
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    
    
      .newsletter .newsletter-brief h4,
      .newsletter .newsletter-brief p
      {
        text-align: center;
    
      }

      .subscribe-email{
       margin-bottom: 40px;
    } 

    .subscribe-email input{
        width: 140px;
    }  
    
  }

 