* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --codeaskblue: #002828;
  --white: #ffffff;
  --black:#212529;
  --grey:#6C757D;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}


/* SIGNUP INTRO */
.cyclic-design1{
  position: absolute;
  bottom: 0;
  left: 0;
}

main .signup-image {
  background-color: var(--codeaskblue);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  

}

main .signup-image-brief{
  margin-top: 20%;
}

main .signup-image .signup-image-brief{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
}


main .signup-image h3{
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 20px 10px 50px 10px;
    white-space: wrap;
    text-align: center;
}


main .signup-image .tabletphone-image{
  object-fit: fill;
  width: 80%;
  /* height: auto; */
  margin-bottom: 10px;
}



/* SIGNUP FORM */
.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cyclic-design2{
    position: fixed;
    right: 0;
    top: 0;
}


main .signupform-wrapper{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10%; */
    justify-content: center;
    
  }

  main .signupform-wrapper .codeaskform-logo-wrapper{
    display: none;
  }

  .signupform-wrapper .signup-intro{
      width: 45%;
  }

.signupform-wrapper .signup-intro h3{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: var(--black);
    padding-bottom: 12px;
    text-align: center;
    white-space: nowrap;
   
}

.signupform-wrapper .signup-intro p{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--grey);
    padding-bottom: 15px;
    text-align: center;
    padding-bottom: 50px;
    
}


.signupform-wrapper .signup-form{
    width: 60%;
}



main .signupform-wrapper .signup-form label{
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--black);
    margin-bottom: 8px;
  }


  /* INPUT LABEL CSS */
  main .signupform-wrapper .signup-form label span{ 
    color: red;
  }

  /* INPUT BOX CSS */
  main .signupform-wrapper .signup-input{
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: var(--grey);
      padding: 8px 12px;
      margin-bottom: 12px;
      width: 100%;
      border: 1px solid #CED4DA;
      border-radius: 4px;  
  }

  /* FOCUS ON INPUT BOX */
  main .signupform-wrapper .signup-input:focus{
  outline: none;
  border: 1px solid var(--codeaskblue);
}

/* HORIZONTAL BAR  */
  .hr{
    color: var(--grey);
    margin-bottom: 18px;
  }

  /* ALL SIGNUP BUTTON */
  main .signupform-wrapper .signup-btn{
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 16px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
}

/* GET STARTED BUTTON */
main .signupform-wrapper .signup-btn.get{
    color: var(--white);
    background-color: var(--codeaskblue);
    border: 1px solid  var(--codeaskblue);
}
  
/* SIGNUP UP WITH GOOGLE LINKEDIN AND GITHUB BUTTON */
main .signupform-wrapper .signup-btn.link{
    color:  var(--codeaskblue);
    background-color: var(--white);
    border: 1px solid  var(--codeaskblue);  
    display: inline-block;
}

main .signupform-wrapper .signup-btn.link .signup-link-icons{

  margin-right: 4px;
  margin-bottom: 2px; /*To make the icons align vertically */
  display: inline-block;
  vertical-align: middle;
}

main .signupform-wrapper .signup-form .signup-brief{

      color: var(--grey);
      margin-top: 20px; 
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
}

main .signupform-wrapper .signup-form .signup-brief span a{
    color: var(--codeaskblue);
    text-decoration: underline;
    font-size: 16px;
    
}


.back-button, .back-button a{
  color: var(--grey);
  margin-top: 20px;
}

/* VERY LARGE SCREEN ABOVE 1200PX */
@media only screen and (min-width: 1200px){
  main .signup-image .tabletphone-image{
    object-fit: fill;
    width: 75%;
    height: auto;
  }
  
}

@media only screen and (min-width: 1300px){
  main .signup-image .tabletphone-image{
    object-fit: fill;
    width: 78%;
    height: auto;
  }
  
}


@media only screen and (min-width: 1500px){
  main .signup-image .tabletphone-image{
    object-fit: fill;
    width: 80%;
    height: auto;
  }
  
}


/* FROM DESKTOP TO TABLET */
@media only screen and (max-width: 1020px){
  .signupform-wrapper .signup-intro{
    width: 60%;
}

.signupform-wrapper .signup-form{
  width: 60%;
}
}

/* FROM TABLET TO MOBILE */
@media only screen and (max-width: 940px) {
  .signupform-wrapper .signup-intro{
    width: 60%;
}

.signupform-wrapper .signup-form{
  width: 60%;
}

main .signupform-wrapper .codeaskform-logo-wrapper{
  display: block;
  margin-bottom: 7%;
}
}


@media only screen and (max-width: 940px) {
  main .signup-image {
    display: none;
  }

  main .signupform-wrapper{
    width: 100vw;
  }

  .signupform-wrapper .signup-intro h3{
    font-size: 23px;
    line-height: 23px;
  }
}

/* @media only screen and (max-width: 390px) {
  main .signupform-wrapper .signup-form .signup-brief span{
    display: block;
  }
} */
